*{
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.img-desktop {
    max-width: 100%;  
}

section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.slider-logos {
    display: flex;
    overflow: hidden;
    padding: 60px 0;
    position: relative;
    background: white;
    cursor: pointer;
}

.slider-logos:before,
.slider-logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
    pointer-events: none;
}

.slider-logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.slider-logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}


.slider-logos:hover .carousel-logos {
    animation-play-state: paused; 
}

.carousel-logos {
    white-space: nowrap;
    animation: 15s slide infinite linear;
}

.carousel-logos a {
   text-decoration: none;
}

.banners-div{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-bottom: 40px;
}

.stacked-banners{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.banner-div{
    position: relative;
    cursor: pointer;
}

.staked-banner1 {
    position: relative;
    max-width: 100%;
}

.staked-banner2 {
    margin-top: 20px;
    position: relative;
    max-width: 100%;
}

.content-hover {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin-bottom: 7px;
    color: #ffffff;
    display: none;
}

.banner-div:hover .content-hover{
    display: block;
}

.hover-title {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size:20px;
}

.hover-p {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.img-mobile {
    max-width: 100%;
}

.img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    }


/* Responsividade/Media query para Mobile */

@media only screen and (max-width: 700px){
    .img-mobile {
        display: block;
    }
    .banners-div{
        flex-direction: column;
        padding: 16px;
        max-width: 100%;
    }
    .img-desktop {
        display: none;
    }

    .full-height-banner{
        margin-top: 16px;
        max-width: 100%;
    }

    .staked-banner2 {
        margin-top: 16px;
    }
    .content-hover{
        display: block;
    }
}



